.logonav{
    width: 12%;
}
.menu{
    background:  rgba(255, 249, 249, 0.619);
    line-height: 1.8;    
}

 
.menuletras{
    font-size: 1.2rem;
    padding: auto;
    align-items: center;
    display: flex;
    color: #104d80;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;  
    font-family: 'Raleway', sans-serif;


}
.menuletras:hover{
    color: #bcd424;
    text-decoration: none;  
}
.menuitem{
    width: 100%;
    display: inline-flex;
    padding: 0% 3%;
    align-items: center;    
}
li{
  list-style-type: none;  
}

.divi{
    padding: 0% 1%;
}

.container-fluid{
    display: flex;
    width: 90%;
    flex-wrap: inherit;
    align-items: center;
}


.mainabout {
    position: relative;
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    width: 100%;
    background-color:transparent;
    line-height: 1.8;
}

/*Quienes?*/
.atitulo{
    width: 100%;
    font-size: 2.8rem;
    line-height: 1;
    font-family: 'Raleway', sans-serif;
    margin: 2% 0%;
}

.parrafo1{
    font-size: 1.4rem;
    letter-spacing: 3px;
    color: black;
}

.encimac{
    font-size: 1.5rem;
    color: black;
    text-align: center;
    font-family: "Poppins", sans-serif;
    text-transform: none;
    text-decoration: none;

}

.encimac:hover{
    color: #889c07;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;

}

.a{
    color: black;
}

.quienes{
    width: 100%;
    text-align: center;
    color: black;
    padding: 10% 7%;
   
}

.logoabout{
    width: 100%;
    padding: 3% 15%;
}
.col-sm-4 {
    display: inline-grid;        
    align-items: center;    
}


@media screen and (min-width: 100px) and (max-width: 600px) {
    /*Nav*/
    .logonav{
        width: 30%;
    
    }
    
    .menuletras{
        font-size: 0.7rem;
    }

    .col-sm-7 {
        width:100%;
    }
    .col-sm-4 {
        width: 100%;
        display: flex;
        justify-content: center;    
    }
   

    /*Quienes?*/

    .atitulo{
        font-size: 1rem;
       
    }
    
    .parrafo1{
        font-size: 0.7rem;
        width: 100%;
    }
  
    .logoabout{
        width: 60%;
    }
    .encimac{
        font-size: 0.7rem;
       
    }

    .quienes{
        display: inline-flex;

    }

   
    
   
    
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    /*Nav*/
    .logonav{
        width: 30%;
    
    }
    
    .menuletras{
        font-size: 0.7rem;
    }

    .col-sm-7 {
        width:100%;
    }
    .col-sm-4 {
        width: 100%;
        display: flex;
        justify-content: center;    
    }

    
    
    /*Quienes?*/

    .atitulo{
        font-size: 1rem;
       
    }
    
    .parrafo1{
        font-size: 0.7rem;
        width: 100%;
    }
  
    .logoabout{
        width: 60%;
    }
    
    
}

@media screen and (min-width: 901px) and (max-width: 1500px) {
    /*Nav*/
    .logonav{
        width: 30%;
    
    }
    
    .menuletras{
        font-size: 0.7rem;
    }

    
    
    /*Quienes?*/

    .atitulo{
        font-size: 1rem;
       
    }
    
    .parrafo1{
        font-size: 0.7rem;
        width: 100%;
    }
  
    .logoabout{
        width: 100%;
        
    }
    .col-sm-4 {
        width: 50%;
        display: inline-grid;        
        align-items: center;    
    }
    .col-sm-7 {
        width:50%;
    }
  
}
