.project{
    width: 90%;
    height: 53vh;
    padding: 6%;
    margin-bottom: 10%;
    color: black;
    background-color: #fff;
}

.letraf{
    font-size: 0.8rem;
    margin:2% 0%;
    width: 100%;
    font-weight: 100%;
    letter-spacing: 3px;
}

.letrat{
    width: 100%;
    font-size: 4rem;
    margin-bottom: 3%;
    line-height: 1;
    text-align: left;
}
.button {
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 2% 10%;    
    float: none;
    width: 100%;
    align-self: center;
    background-color: #000;
    color: #fff;
    font-size: 0.7rem;
    line-height: 1.6;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}