.footerm{
    align-content: center;
    background-color:black;
    color: white; 
    width: 100%;
    padding: 0.3% 0%;
}

.titulosf{
    font-size: 0.7em;
    margin: 0% 4%;
}

a{
    font-size: 0.7em;
    padding: 1%;
    text-decoration: none;
    text-align: left;
    line-height: 2.3;
    color: white;
    width: 100%;
}
a:hover{
    color: gainsboro;
    text-decoration: underline;
    cursor: pointer;
}