.frase{ 
    width: 100%;
    height: auto;
    margin-top: 2%;
    padding: 8% 0%;
    color: white;
    background: rgb(19, 25,49 , 0.9) url(https://img.freepik.com/foto-gratis/resumen-difuminado-supermercado-grandes-almacenes_1203-8782.jpg?w=2000&t=st=1701109758~exp=1701110358~hmac=a89dbe3e261f8a3eb324b4e2c433d0fc41f5ea485d81850fc00181e965142168);
    background-position: 0% 50%;
    background-size: cover;
    align-content: center;
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
}

.titulo{
    font-size: 2rem;
    
}
.desc{
    font-size: 1.5rem;

}

.fotodispl{
    width: 90%;
    height: auto;
    margin: auto;
}
