.frase{ 
    width: 100%;
    height: 100vh;
    padding: 8% 0%;
    color: white;
    background: rgb(19, 25,49 , 0.9) url(../Imagenes/pasillo.jpg);
    background-position: 0% 50%;
    background-size: cover;
    align-items: center;    
    display: flex;
    text-transform: uppercase;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
}

.titulo{
    font-size: 2rem;
    font-weight: bold;

    
}
.desc{
    font-size: 1.5rem;
    font-weight: bold;



}

.fotodispl{
    width: 100%;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    .frase{ 
    
        height: 80vh;
        padding: 15% 5%;

        
    }
    
    .titulo{
        font-size: 0.8rem;
        
    }
    .desc{
        font-size: 0.8rem;
    
    }
   
    
}
@media screen and (min-width: 600px) and (max-width: 1400px) {
    .frase{ 
        height: 140vh;
        padding: 15% 5%;

        
    }
    
    .titulo{
        font-size: 0.8rem;
        
    }
    .desc{
        font-size: 0.8rem;
    
    }
    .fotodispl{
        width: 100%;
        height: auto;
    }

    
}
