.indi{
    background-color: #bed226;
    margin: 1%;
    border-radius: 5%;
    align-content: center;
    border: solid  #bcd310;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.indif{
    font-size: 1.2em;
    text-align: center;
    padding: 3%;
    color: black;
    font-family: 'Poppins', sans-serif;

}


@media screen and (min-width: 100px) and (max-width: 599px){
   
    .indi{
        margin: 2.5%;        
    }
    
    .indif{
        font-size: 0.6em;
        padding: 1%;
        margin: 0%;
    }
 
}
@media screen and (min-width: 600px) and (max-width: 1400px){
   
    .indi{
        margin: 2%;        
    }
    
    .indif{
        font-size: 0.9em;
        padding: 3%;
        margin: 0%;
    }
 
}
