.Marcas-box{
    align-content: center;
    background: white;
    width: 100%;
    margin: 2% 0%;
    padding: 0% 10%;
    display: flex;
    min-height: 40vh;
    align-items: center;
    justify-content: center;    
    text-align: center;

}
.marcat{
    width: 80%;
    margin: 15% 0%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: auto;
    font-size: 2rem;
}
  
.Logof {
    width: 30%;  
    object-fit:fill;
    scroll-snap-align: center;
}

@media screen and (min-width: 100px) and (max-width: 499px){


    .marcat{
    
        font-size: 1rem;
    }
      
    .Logof {
        width: 80%;  
        margin: 10% 0%;
      
    }
    
   

}
@media screen and (min-width: 500px) and (max-width: 1000px){
   
    .marcat{
    
        font-size: 1.7rem;
    }
      
    .Logof {
        width: 80%;  
        margin: 8% 0%;
      
    }

}