.number{
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 25% 6%;
    background-color:white;
    height: 55vh;
    text-transform: uppercase;
}

.encima{
    font-size: 1.3rem;
    color: black;
    cursor:alias;
    font-family: "Poppins", sans-serif;
    text-transform: none;
    text-decoration: none;

}

.encima:hover{
    color: #889c07;
    cursor: pointer;
    text-decoration: none;
    text-transform: none;

}

.titulo{
    font-size: 1.3rem;
    margin:2% 0%;
    width: 100%;
    font-weight: 100%;
    letter-spacing: 3px;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    /*Nav*/

    .number{
        height: 80vh;
        padding: 50% 0%;
    }
    .titulo{
        font-size: 0.8rem;
    }
    .encima{
        font-size: 0.8rem;
    }
    

}


@media screen and (min-width: 601px) and (max-width: 1400px) {

    .number{
        height: 80vh;
        padding: 50% 0%;
    }
    .titulo{
        font-size: 1rem;
    }
    .encima{
        font-size: 0.9rem;
    }
    

   
}
