/*NAVBAR*/
    
.logonav{
    width: 12%;
}
.sonri{
    width: 10%;
}

.navbar{
    background:  rgba(0, 0, 0, 0.375);
    line-height: 1.8;    
}
 
.menutit{
        font-size: 1.2rem;
        padding: auto;
        align-items: center;
        display: flex;
        color:white;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;  
        font-family: 'Raleway', sans-serif;

}
.menutit:hover{
    color: #bcd424;
    text-decoration: none;  
}
.menuitem{
        display: inline-flex;
        padding: 1% 3%;
        align-items: center;    

}
li{
  list-style-type: none;  
}

.divi{
    padding: 0% 1%;
}

.container-fluid{
    display: flex;
    width: 90%;
    flex-wrap: inherit;
    align-items: center;
}

/*Portada*/

.main {
    position: relative;
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background:  rgba(0, 0, 0, 0.809) url(../Imagenes/portad1.jpg);
    background-position: 0% 50%;
    background-size: cover;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    line-height: 1.8;
}

.portatitu{
    color: #fff;
    margin: 5% 6%;
    width: 37%;
    padding-top: 10%;
    font-size: 3rem;
    line-height: 1;
    text-transform: uppercase;
    text-align: left;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    /*Nav*/
    .logonav{
        width:10%;
    
    }
        
    .menutit{
        font-size: 0.5rem;
    }
   

    /*Portada*/
    .main {
        height: 60vh;
        
    }
    .portatitu{
        font-size: 1rem;  
        width: 50%;
  
    }
    
}

@media screen and (min-width: 601px) and (max-width: 899px) {
    /*Nav*/
    .logonav{
        width:15%;
    
    }
        
    .menutit{
        font-size: 0.8rem;
    }

    
    /*Portada*/
    .main {
        height: 70vh;
        
    }
    .portatitu{
        font-size: 1.3rem;  
        width: 50%;
  
    }
    
}
@media screen and (min-width: 900px) and (max-width: 1500px){

   
    .logonav{
        width:15%;
    
    }
        
    .menutit{
        font-size: 1rem;
    }
   
 
   /*Portada*/
   .main {
       height: 35rem;
       
   }
   
   .portatitu{
    font-size: 2rem;  
    width: 36%;
    margin-bottom: 4%;   
    }
   
}
