
/* titulo Quienes?*/
.parra{
    font-size: 1rem;
    font-weight: 100%;
    letter-spacing: 3px;
    width: 100%;
    text-align: start;
}
.titu1{
    margin: 8% 0%;
    font-size: 3rem;
    line-height: 1;
    text-align: center;
}

/* titulo puesto*/

.titu2{
    font-size: 1.7rem;
    margin-left: 10%;
    width: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.titu3{
    font-size: 0.8rem;
    margin-left: 10%;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.fotoq{
    width: 80%;
    text-align: center;
    margin-left: 10%;
}

/*Genera*/

.infor{ 
    background-color: white;
    width: 100%;
    margin: 3% 0%;
    align-items: center;
}