/* Estilos generales */
.parra {
  font-size: 1.3rem;
  font-weight: 100%;
  letter-spacing: 2px;
  text-align: start;
}

.titu1 {
  margin: 4% 0%;
  padding: 0%;
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
}

.titu2 {
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.titu3 {
  font-size: 1rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.fotoq {
  width: 100%; /* Reducimos el tamaño de la imagen */
  margin-top: 10px;
  border-radius: 5px; /* Opcional: para redondear las esquinas */
}

.foto-container {
  display: flex;
  justify-content: space-around; /* Espacio entre las imágenes */
  flex-wrap: wrap;
  gap: 20px;
}

.persona {
  text-align: center;
}

/* Genera */
.infor {
  background-color: white;
  padding: 6% 0%;
  width: 100%;
  align-items: center;
}

.container,
.container-sm {
  max-width: 1400px;
}

/* Media Queries para hacer el diseño responsivo */
@media screen and (max-width: 600px) {
  .parra {
    font-size: 0.8rem; /* Ajuste del tamaño de la fuente */
    padding: 0% 6%; /* Ajuste del padding */
  }

  .titu1 {
    margin: 8% 0%;
    font-size: 1.2rem; /* Ajuste del tamaño de la fuente */
  }

  .titu2 {
    font-size: 0.7rem; /* Ajuste del tamaño de la fuente */
    margin: 4% 6% 0%;
  }

  .titu3 {
    font-size: 0.7rem; /* Ajuste del tamaño de la fuente */
    margin: 1% 6% 3%;
  }

  .fotoq {
    max-width: 70%; /* Ajuste de tamaño de la imagen en móviles */
  }

  .container {
    max-width: 100%; /* Asegura que el contenedor ocupe todo el ancho en pantallas pequeñas */
  }

  .colt, .colf {
    width: 100%; /* Asegura que las columnas ocupen el 100% en pantallas pequeñas */
  }
}

@media screen and (min-width: 601px) and (max-width: 1400px) {
  .parra {
    font-size: 0.9rem; /* Ajuste del tamaño de la fuente */
    padding: 0% 6%; /* Ajuste del padding */
  }

  .colt {
    width: 100%; /* Asegura que la columna ocupe el 100% */
  }
  
  .colf {
    width: 50%; /* Ajuste para que la columna ocupe el 50% en pantallas medianas */
  }

  .titu1 {
    margin: 5% 0% 2%;
    font-size: 1.5rem; /* Ajuste del tamaño de la fuente */
  }

  .titu2, .titu3 {
    font-size: 0.8rem; /* Ajuste del tamaño de la fuente */
  }

  .fotoq {
    width: 70%; /* Ajuste del tamaño de la imagen */
  }

  .container {
    max-width: 100%; /* Asegura que el contenedor ocupe el 100% */
  }
}

