/* titulo Quienes?*/
.parra{
    font-size: 1rem;
    font-weight: 100%;
    letter-spacing: 3px;
    text-align: start;
}
.titu1{
    margin: 8% 0%;
    padding: 0%;
    font-size: 2.6rem;
    line-height: 1;
    text-align: center;
}

/* titulo puesto*/

.titu2{
    font-size: 1.rem;
    margin-left: 10%;
    width: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.titu3{
    font-size: 0.8rem;
    margin-left: 10%;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.fotoq{
    width: 83%;
    margin-left: 10%;
}

/*Genera*/

.infor{ 
    background-color: white;
    padding: 0%;    
    margin: 6% 0%;    
    align-items: center;
}

.container, .container-sm {
    max-width: 1400px;
}


@media screen and (min-width: 100px) and (max-width: 600px) {
    .parra{
        font-size: 0.7rem;
        padding: 0% 6%;
        
    }
    .titu1{
        margin: 8% 0%;
        font-size: 1rem;
      
    }
    
    /* titulo puesto*/
    
    .titu2{
        font-size: 0.7rem;
        margin: 4% 6% 0%;
    }
    
    .titu3{
        font-size: 0.7rem;
        margin: 1% 6% 3%;
       
    }
    
    .fotoq{
        max-width: 60%;
        justify-content: center;
        display: inline-flex;
   
    }

    
    .container {
        max-width: 500px;
    }
    .colt{
        width: 100%;
    }
    .colf{
        width: 100%;
    }
    
}
@media screen and (min-width: 600px) and (max-width: 900px) {
    .parra{
        font-size: 0.8rem;
        padding: 0% 6% 3%;
        
    }
    .colt{
        width: 100%;
    }
    .colf{
        width: 50%;
    }

    .titu1{
        margin: 5% 0% 2%;
        font-size: 1.4rem;
      
    }
    
    /* titulo puesto*/
    
    .titu2{
        font-size: 0.7rem;
        width: 40%;
    }
    
    .titu3{
        font-size: 0.7rem;
        width: 30%;
       
    }
    
    .fotoq{
        width: 80%;    
    }
      
    .container {
        max-width: 601px;
    }

    
}
@media screen and (min-width: 901px) and (max-width: 1000px) {
    .infor{ 
        margin: 3% 0%;    
        align-items: center;
    }
   
    .parra{
        font-size: 0.8rem;
        
    }
    .titu1{
        font-size: 1.5rem;
      
    }

    /* titulo puesto*/
    
    .titu2{
        margin-top: 5%;
        font-size: 0.9rem;
    }
    
    .titu3{
        font-size: 0.6rem;
       
    }

    .container {
        max-width: 801px;
    }
    
}
@media screen and (min-width: 1001px) and (max-width: 1200px) {
    .container {
        max-width: 1001px;
    }
    .infor{ 
        margin: 3% 0%;    
        align-items: center;
    }
   
    .parra{
        font-size: 0.8rem;
        
    }
    .titu1{
        font-size: 1.5rem;
      
    }

    /* titulo puesto*/
    
    .titu2{
        margin-top: 5%;
        font-size: 0.9rem;
    }
    .titu3{
        font-size: 0.6rem;
       
    }
    
    
}
@media screen and (min-width: 1201px) and (max-width: 1401px) {
    .container {
        max-width: 1101px;
    }
    
    
}

