/* Quote.css */
.quoteb{ 
    width: 100%;
    padding: 6% 0%;
    background: rgb(19, 25,49 , 0.9) url(../Imagenes/Por3.jpg);
    background-position: 0% 50%;
    background-size: cover;
    align-items: center;    
    text-transform: uppercase;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
}
/* Estilos para el contenedor de la cita y los botones */
.quote-container {
    position: relative;
    max-width: 80%; /* Ajusta el ancho según sea necesario */
    margin: 0 auto;
    padding: 5% 1%;
    height: 40vh;
    background-color: rgb(245, 254, 254);
    border: 1px solid #ededed;
    border-radius: 8px;
    text-align: center;
}
  
  
 /* Estilos para los botones prev y next */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    font-size: 1rem;
}
  
.prev {
    left: 2%; /* Ajusta la posición izquierda */
}
  
.next {
    right: 2%; /* Ajusta la posición derecha */
}

.quote-text{
        font-size: 1.4rem;
        text-align: center;
        display: flex;
        margin: 1%;
        align-items: center;
        justify-content: center;
}
.quote-author{
    font-size: 1.3rem;
    margin-bottom: 0.4%;
}
.avatar-container {
    border-radius: 50%; /* Esto hará que el contenedor de la imagen sea circular */
    overflow: hidden; /* Esto ocultará cualquier parte de la imagen que sobresalga del contenedor */
    width: 100px; /* Ajusta el tamaño del contenedor según tus necesidades */
    height: 100px;
    display: inline-flex;
    margin-bottom: 2%;
  }
  
.avatar {
    width: 100%; /* Esto asegurará que la imagen se ajuste al contenedor */
    height: 100%; /* Esto asegurará que la imagen se ajuste al contenedor */
}

.tituloh1{
    color: aliceblue;
    text-align: center;
    padding-bottom: 2%;
}

@media screen and (min-width: 101px) and (max-width: 800px) {
/* Quote. */
/* Estilos para el contenedor de la cita y los botones */
.quote-container { 
    height: 30vh;
    max-width: 90%; /* Ajusta el ancho según sea necesario */


} 

.quote-text{
        font-size: 0.8rem;
    
}
.quote-author{
    font-size: 0.9rem;

}
.quote-time{
    font-size: 0.7rem;

}
.avatar-container { 
    width: 100px; /* Ajusta el tamaño del contenedor según tus necesidades */
}

.prev {
    left: -1%; /* Ajusta la posición izquierda */
}
  
.next {
    right: -1%; /* Ajusta la posición derecha */
}

}
@media screen and (min-width: 801px) and (max-width: 1000px) {
    /* Quote. */
    /* Estilos para el contenedor de la cita y los botones */
    .quote-container { 
        height: 35vh;
        max-width: 90%; /* Ajusta el ancho según sea necesario */
    
    
    } 
    
    .quote-text{
            font-size: 1rem; 
            padding: 0% 2%;
    }

    .quote-author{
        font-size: 0.9rem;
    
    }
    .quote-time{
        font-size: 0.9rem;
    
    }
    .avatar-container { 
        width: 100px; /* Ajusta el tamaño del contenedor según tus necesidades */
    }
    
    .prev {
        left: 1%; /* Ajusta la posición izquierda */
    }
      
    .next {
        right: 1%; /* Ajusta la posición derecha */
    }
    
    }

